
@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/Futura-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/futura/Futura-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/futura/Futura-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/futura/Futura-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/futura/Futura-Light.svg#webfont') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 300;
}
@font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/Futura-Book.eot'); /* IE9 Compat Modes */
    src: url('../fonts/futura/Futura-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/futura/Futura-Book.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/futura/Futura-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/futura/Futura-Book.svg#webfont') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/Futura-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/futura/Futura-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/futura/Futura-Medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/futura/Futura-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/futura/Futura-Medium.svg#webfont') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: 'Futura';
    src: url('../fonts/futura/Futura-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/futura/Futura-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/futura/Futura-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/futura/Futura-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/futura/Futura-Bold.svg#webfont') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 700;
  }

body {font-family: 'Futura'; font-weight: 300;}
img {max-width: 100%;}

#shipping {background: black; color: white; padding: 11px 0; font-size: 16px; font-weight: 300;}


/* navbar */
.navbar-fixed-top {border: 0;}
.navbar {background: white;}
.navbar-brand img {margin: 15px;}
#navbar {margin-top: 5px;}
.navbar-nav > li > a {color: black; background: none!important; text-transform: uppercase; font-size: 14px; letter-spacing: 4px; font-weight: 400;}
.navbar-nav > li > a:hover {color: #Cea08a;}
.dropdown-menu > li > a {color: black;background: none!important; text-transform: uppercase; font-size: 14px}
.dropdown-menu > li > a:hover {color: #Cea08a;}
.dropdown-menu{border: none;box-shadow: none;}


/* content */
.first-container {padding-top: 230px;}

#content [class^="container"],
#content [class^="col-"]{
  border-left: 25px solid white;
  border-right: 25px solid white;
}
#content [class^="col-"] [class^="col-"] {border: 0;}

.btn-default {margin-top: 20px; width:50%;height:45px;min-width:60px;background-color:#000; color:#fff;border:0;}
.heart {padding: 15px 0;}
.heart img {height: 48px;}

/* footer */
.footer {border-top: 1px solid black; margin: 0 65px; padding: 0;}
.shop-footer{border-top: 1px solid black; margin: 100px 65px; padding: 0;}
#seperator {width: 1px; height: 60px; background: black; display: inline-block;}
.input-footer{border:none;box-shadow:none;border-bottom: 1px solid #000; margin:10px 0;color:#000; background-color:transparent;border-radius:0px;}
.input-footer input,a:hover{border:none;box-shadow:none;border-bottom: 1px solid #000; margin:10px 0;color:#000; background-color:transparent;border-radius:0px;}
.input-footer input,a:focus{border:none;box-shadow:none;border-bottom: 1px solid #000; margin:10px 0;color:#000; background-color:transparent;border-radius:0px;}
.input-footer input,a:active{border:none;box-shadow:none;border-bottom: 1px solid #000; margin:10px 0;color:#000; background-color:transparent;border-radius:0px;}

.footer-button{border: 1px solid #000; border-radius:0px;margin:10px 0;background-color: transparent;}