---
---

{% include header.html %}

  <div id="content">

  <div class="container-fluid first-container" style="margin-top:300px;">
      <div class="col-xs-12" style="height:auto;">
        <div style="background: url('/img/about/about-main-1.webp')" class="col-xs-6"></div>
        <div style="background: url('/img/about/about-main-2.webp')" class="col-xs-6"></div>
      </div>
    </div>
  
  

    <div class="container-fluid text-center heart">
      <img src="/img/heart.svg" style="" />
    </div>
    <!-- /.container -->

    <div class="container-fluid text-center">
      <div class="col-xs-12"><h3>ABOUT SENSE-IT</h3></div>
    </div>

    <div class="col-sm-12">
      <div class="" style="margin:0 13%">
        <div class="col-sm-4" style="background-color:red;height:192px;"></div>
        <div class="col-sm-4" style="background-color:blue;height:192px;"></div>
        <div class="col-sm-4" style="background-color:green;height:192px;"></div>
      </div>
    </div>

  </div>

  {% include footer.html %}