---
---

{% include header.html %}

<div id="content" >
    <div class="container-fluid first-container">
        <div class="col-sm-12">
          <div style="background: url('/img/contact/contact-1.webp')center center no-repeat; background-size: cover; height: 580px;" class="col-sm-6"></div>
          <div style="background: url('/img/contact/contact-2.webp')center center no-repeat; background-size: cover; height: 580px;" class="col-sm-6"></div>
          <div class="col-sm-12 text-center" style="background-color: rgb(250, 237, 237);"><h2>I would love to hear form you!</h2></div>
          <div class="col-sm-12" style="background-color: rgb(250, 237, 237);padding-top:40px;">
            <div class="col-sm-offset-1 col-sm-5">
                  <p>If you have questions about an order, or you want to know more about <span>SENSE-IT</span>, feel free to contact us</p>
                  <h3 class="heart">HAVE A QUESTION?</h3>
                  <p>For questions or comments about SENSE-IT, orders and services, get in touch</p>
            </div>
            <div class="col-sm-5">
                <form action="">
                      <div class="form-group">
                              <input type="text" class="form-control rad0 bdr-black" id="" placeholder="Naam">
                      </div>
                      <div class="form-group">
                      <input type="email" class="form-control rad0 bdr-black" id="" placeholder="E-mailadres">
                      </div>
                      <div class="form-group">
                              <input type="text" class="form-control bdr-black rad0" id="" placeholder="Onderwerp">
                      </div>
                      <div class="form-group">
                              <input type="text" class="form-control rad0 bdr-black" id="" placeholder="Bericht" style="height:100px;">
                      </div>
                      <div class="text-right">
                      <a class="btn rad0 bdr-black" role="button" style="background-color:#000;color:#fff;">Send</a>
                      </div>
                  </form>
  
            </div>
            <div class="col-sm-offset-1 col-sm-5">
                <h4>Company:</h4>
                <p>SENSE-IT Fashion</p>
                <p>Reigerstraat 59</p>
                <p>1171 TP Badhoevedorp</p>
                <p>the Netherlands</p>
            </div>
        </div>
      </div>
    </div>

        <div class="container-fluid text-center heart">
            <img src="/img/heart.svg" style="" />
        </div>
        
</div>

{% include footer.html %}