---
---

{% include header.html %}

<div id="content">
    <div class="container-fluid first-container">
        <div class="col-xs-12 text-center" style="background-color: rgb(250, 237, 237);">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="col-xs-10 col-xs-offset-1 heart text-left" style="border-bottom: 1px solid black"><h3>FAQ</h3></div>
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-1 heart text-left">Frequently Asked Questions</div>
                    <div class="col-xs-5 text-right heart">fa-search</div>
                </div>
<div class="panel-group col-xs-10 col-xs-offset-1 text-left" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel" style="background-color: rgb(250, 237, 237);">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Can I wash my shirt without the energy going out?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body" style="background-color: rgb(250, 237, 237);">
      <p>  Yes, the intention and energy is not only in the material but also in the energetic layers around it. This can not be removed with washing. The energy in the shirt, you serve as long as necessary.</p>
      <div class="text-left row">
        fa-social-media-icons
    </div>
    </div>
    </div>
  </div>
  <div class="panel" style="background-color: rgb(250, 237, 237);">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How hot can I wash the shirt?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body" style="background-color: rgb(250, 237, 237);">
       <p> The shirt can be washed at 30 degrees. You should touch any stains locally with ox gall soap.</p>    
       <div class="text-left row">
        fa-social-media-icons
    </div>
    </div>
    </div>
  </div>
  <div class="panel" style="background-color: rgb(250, 237, 237);">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Can I pay with iDeal?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body" style="background-color: rgb(250, 237, 237);">
       <p> Unfortunately, payment can not yet be made directly with iDeal. At the 'checkout' button you can simply transfer the amount from your own bank.</p>    
       <div class="text-left row">
        fa-social-media-icons
    </div>
    </div>
    </div>
  </div>
</div>
            </div>
        </div>
    </div>
</div>




{% include footer.html %}