---
---
{% include header.html %}

<div id="content">
  <div class="container-fluid first-container" >
    <div class="col-xs-12" style="background-color:#F5E7DF;">
        <div class="col-xs-10 col-xs-offset-1 text-left" style="border-bottom: 1px solid black;padding-top:55px;">
          <p class="ls15 f-18">FAQ</p>
        </div>
        <div class="col-xs-5 col-xs-offset-1 p-25 text-left"><p class="f-18">Frequently Asked Questions</p></div>
        <div class="col-xs-5 text-right p-25"><i class="fa fa-search" aria-hidden="true"></i></div>
        <div class="panel-group col-xs-10 pl0 col-xs-offset-1 text-left" style="padding-bottom:50px;" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel" style="background-color: #F5E7DF;">
              <div class="panel-heading pl0 p-25 " role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Can I wash my shirt without the energy going out?
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body pl0" style="background-color: #F5E7DF;">
                <p>  Yes, the intention and energy is not only in the material but also in the energetic layers around it. This can not be removed with washing. The energy in the shirt, you serve as long as necessary.</p>
                <div class="text-left row" style="padding-left:15px;">
                  <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                  <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                  <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
              </div>
              </div>
              </div>
            </div>
            <div class="panel p-25" style="background-color: #F5E7DF;">
              <div class="panel-heading pl0" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      How hot can I wash the shirt?
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body pl0" style="background-color: #F5E7DF">
                 <p> The shirt can be washed at 30 degrees. You should touch any stains locally with ox gall soap.</p>    
                 <div class="text-left row"style="padding-left:15px;">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
              </div>
              </div>
              </div>
            </div>
            <div class="panel p-25" style="background-color: #F5E7DF">
              <div class="panel-heading pl0" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Can I pay with iDeal?
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body pl0" style="background-color: #F5E7DF;">
                 <p> Unfortunately, payment can not yet be made directly with iDeal. At the 'checkout' button you can simply transfer the amount from your own bank.</p>    
                 <div class="text-left row"style="padding-left:15px;">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
              </div>
              </div>
              </div>
            </div>
          </div>
    </div>
      </div>
</div>




{% include footer.html %}