---
---

{% include header.html %}

    <div id="content">

      <div class="container-fluid first-container">
        <div class="col-xs-12" style="height:500px;">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="/img/homepage_sliders/1.jpg" alt="..." style="height:500px">
                  </div>
                <div class="item">
                    <img src="./img/homepage_sliders/2.jpg" alt="..." style="height:500px">
                  </div>
                  <div class="item">
                    <img src="./img/homepage_sliders/3.jpg" alt="..." style="height:500px">
                  </div>
                  <div class="item">
                    <img src="./img/homepage_sliders/4.jpg" alt="..." style="height:500px">
                  </div>
                </div>
                <div class="main-text col-sm-12 hidden-xs" style="position:absolute;top:50px;">
                    <div class="col-sm-6 col-sm-offset-3 col-xs-12 text-center" style="color:black;font-weight:normal;">
                        <h1>
                            Pre-order Now!</h1>
                        <h3>
                            Let's do this...let's make SENSE
                        </h3>
                        <div class="text-center" style="background-color:white;opacity:0.7;margin-top:30px;padding:30px 0;">
                            <h3>SENSE-IT a new bamboo label <br> with high frequency</h3>
                            <a class="btn" href="" style="background-color:black;color:white;width:100px;line-height:30px;">Reserveer Nu</a>
                        </div>
                    </div>
                </div>
              </div>
        </div>
      </div><!-- /.container -->


      <div class="container-fluid text-center heart">
        <img src="/img/heart.svg" style="" />
      </div><!-- /.container -->


      <div class="container-fluid">
          <div class="col-md-4" style="background: url(img/homepage_images/1.jpg) center center no-repeat; background-size: cover; height: 580px;">
          
          </div>
          <div class="col-md-4 text-center" style="background-color: rgb(250, 237, 237); height: 580px;">
          <h2>Welcome to a new fashion experience!</h2>
          <p>Feel the softness, the positive energy and feel the love surrounding you!</p>
          <p>A unique shirt that brings you comfort and love</p>
          <p>A reminder to you that YOU are the love of YOUR life!</p>
          <a href="" class="btn btn-xm">Shop Now</a>
          </div>
          <div class="col-md-4" style="background: url(img/homepage_images/4.jpg) center center no-repeat; background-size: cover; height: 580px;">
          
          </div>
      </div><!-- /.container -->

      <div class="container-fluid text-center heart">
          <img src="/img/heart.svg" style="opacity: 0;" />
        </div><!-- /.container -->

      <div class="container-fluid">
          <div class="col-md-5 col-md-push-7" style="background: url(img/homepage_images/2.jpg) center center no-repeat; background-size: cover; height: 580px;">
          
          </div>
        <div class="col-md-7 col-md-pull-5 text-center" style="background-color: rgb(250, 237, 237); height: 580px;">
            <h2>High frequency energy?</h2>
            <p>SENSE-IT is an initiative of Claudia Robert. She provides great love and compassion to people. Her aim through lifecoaching and healing is to help us find our self love and acceptance and bringing us back to who we really are. SENSE-IT Fashion is a source of  love and light energy. This SENSE-IT energy will give you:></p>
            <p>…a sense of self love <br>
                …a sense of peace <br>
                …a sense of balance <br>
                …a sense of empowerment <br>
                …a sense of acceptance <br>
                …a sense of positivity</p>
                <a href="btn" style="background-color:black;color:white;line-height:40px;width:130px;">Read More</a>
            </div>
       </div><!-- /.container -->

      <div class="container-fluid text-center heart">
          <img src="/img/heart.svg" style="" />
        </div><!-- /.container -->

      <div class="container-fluid">
          <div class="col-md-6" style="background: url(img/homepage_images/3.jpg) center center no-repeat; background-size: cover; height: 580px;">
          </div>
          <div class="col-md-6" style="background-color: rgb(250, 237, 237); height: 580px;">
            <h3>Lifecoach Claudia</h3>
            <p class="heart">Heb je behoefte in een eyeopener of richting in je leven?</p>
            <ul>
                <li>Life coaching; empowerment, richting & inzicht, zelfliefde & aandacht, focus en balans!</li>
                <li>Reiki & Healing; voor nieuwe frisse energie, loslaten van angsten en verwijderen van blokkades</li>
            </ul>
            <a href="" class="btn" style="background-color:black;color:white;line-height:40px;width:130px;">GA NAAR WEBSITE</a>
            
          </div>
      </div><!-- /.container -->

      <div class="container-fluid text-center heart">
          <img src="/img/heart.svg" style="" />
      </div><!-- /.container -->

      <div class="container-fluid text-center">
          <div class="col-xs-12"># Join the Consciousness consumers SENSE Lifecoaching Community</div>
      </div>


    </div>

    {% include footer.html %}