---
---

{% include header.html %}

<div id="content">
        <div class="container-fluid first-container">
            <div class="col-sm-12">
            <div class="col-sm-offset-2 col-sm-6 col-xs-12"><a href="" style="text-decoration:none;color:#000;">Home</a> / Bamboo shirt 'Golden wings' (White & Gray)</div>
        </div>
    </div>

    <div class="container-fluid heart">
        <div class="col-sm-12">
            <div class="col-sm-offset-1 col-sm-5" style="background: url(/img/product/product-1.jpg) center center no-repeat; background-size: cover; height: 350px;"></div>
            <div class="col-sm-5">
                <h2>Bamboo shirt 'Golden wings' (White & Gray)</h2>
                <h3>&euro;64.00</h3>
                <p>Measure</p>
                <p class="dropdown">
                                <button class="btn btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  Select
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                  <li><a href="#">Small</a></li>
                                  <li><a href="#">Medium</a></li>
                                  <li><a href="#">Large</a></li>
                                  <li><a href="#"></a>X Large</a></li>
                                </ul>
                </p>
                <p>Colour</p>
                <div class="row text-left">
                        <input type="radio" style="background-color:#000;">
                        <input type="radio">
                </div>
                <p>Number</p>
                <input type="text" style="border: 1px solid #000; width:50px;">
                <div class="text-center">
                    <button class="btn btn-default" style="margin: 15px 0;">Add to cart</button>
                </div>
                
        </div>
    </div>


    <div class="container-fluid">
      <div class="col-sm-12">
        <div class="col-sm-offset-1 col-sm-5">
          <p>The shirt is made of pure silky bamboo fabric and is designed in a comfortable fit for every woman and every occasion. Whether it is for yoga, for work or for a dinner with friends.</p>
          <p>White stands for freedom, purity, positivity and lightness.</p>
          <p>The golden seam on sleeve symbolizes the belief in yourself, you want to go for your mission ... give yourself that golden edge that you deserve !!</p>
          <p>Grijs staat voor diswcipline en neutraliteit.

              De gouden naad op mouw symboliseert het geloof in jezelf, je wil om te gaan voor je missie…geef jezelf dat gouden randje wat je verdiend!!</p>
              <p>NOTE: This reservation is a pre-order and that means that you purchase the shirt in advance. Production will start with at least 50 orders in our factory in Portugal. If the production does not continue, you will of course get your money refunded. We assume that the 50 orders will be met with great enthusiasm and that we will deliver the shirt between 4-6 weeks.</p>
              
      </div>
      <div class="col-sm-5">

      </div>
    </div>
</div>


{% include footer.html %}