---
---

{% include header.html %}

<div id="content">
        <div class="container-fluid first-container">
            <div class="col-xs-12">
            <div class="col-sm-offset-2 col-sm-6 col-xs-12"><a href="" style="text-decoration:none;color:#000;">Home</a> / Bamboo shirt 'Golden wings' (White & Gray)</div>
        </div>
    </div>

    <div class="container-fluid heart">
        <div class="col-sm-12 row">
            <div class="col-sm-offset-1 col-sm-5" style="background: url(/img/product/product-1.jpg) center center no-repeat; background-size: cover; height: 350px;"></div>
            <div class="col-sm-5">
                <h2>Bamboo shirt 'Golden wings' (White & Gray)</h2>
                <h3>&euro;64.00</h3>
                <p>Measure</p>
                <p class="dropdown">
                                <button class="btn btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  Select
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                  <li><a href="#">Small</a></li>
                                  <li><a href="#">Medium</a></li>
                                  <li><a href="#">Large</a></li>
                                  <li><a href="#"></a>X Large</a></li>
                                </ul>
                </p>
                <p>Colour</p>
                <div class="row text-left">
                        <input type="radio" style="background-color:#000;">
                        <input type="radio">
                </div>
                <p>Number</p>
                <input type="text" style="border: 1px solid #000; width:50px;">
                <div class="text-center">
                    <button class="btn btn-default" style="margin: 15px 0;">Add to cart</button>
                </div>
                <div id="accordion" role="tablist">
                        <div class="card">
                          <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                              <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                PRODUCT INFO
                              </a>
                            </h5>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                              <p>Pure and silky soft bamboo shirt.</p>
                              <p>95% bamboo and 5% elastan</p>
                              <p>Op de naad van de mouwen is gouddraad bewerkt</p>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0">
                              <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                RETURN & REFUND POLICY
                              </a>
                            </h5>
                          </div>
                          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                            <p>NL</p>
                            <p>Onze intentie is om met SENSE-IT de hoogste kwaliteit te bieden en je verliefd te laten worden op jouw shirt. Als je toch ontevreden bent met je bestelling kun je het product retour zenden en krijg je je geld teruggestort (excl. verzendkosten). Laat ons eerst even weten via de e-mail info@sense-itfashion.com dat je je bestelling retour zend en met reden. We kunnen dan samen kijken naar een oplossing of verzending van een nieuwe maat afstemmen. Wij accepteren geen retourzendingen van beschadigde artikelen die zijn gedragen of waarvan de etiketten zijn verwijderd. Het product dient in originele staat retour verzonden te worden in de originele verpakking binnen 14 dagen. De retourkosten zijn voor je eigen rekening. Voor vragen over ruiling en retour zenden, neem gerust contact op per email: info@sense-itfashion.com.</p>
                            <p>Retouradres:</p>
                            <p>SENSE-IT Fashion</p>  
                            <p>Reigerstraat 59</p>
                            <p>1171 TP  Badhoevedorp</p>
                            <p class="heart">Return & Exchange Policy</p>
                            <p>US</p>
                            <p>Our intention is creating products to the highest standard and we hope that you fall in love with your SENSE-IT shirt. If you are unhappy with your purchase for any reason, we will accept returns and issue a full refund to the original form of payment (excluding the shipping cost), so long as the item and all of its packaging are returned completely undamaged. To issue a return we must first be notified via email. Returns MUST be shipped back in the original packaging (including all additional materials), within seven days of product receipt. 

                              Unless otherwise notified, the return shipping cost is the sole responsibility of the customer. Refunds will be made to the original form of payment only, after the product has been received. Please allow 14 business days from the time of receipt, for the item to be processed. If you have any return inquiries, please email info@sense-itfashion.com</p>
                            <p>
                              Bamboo shirt 'Golden wings' (Wit & Grijs)
                              
                               Bamboo shirt 'Golden wings' (Wit & Grijs)
                              
                               Bamboo shirt 'Golden wings' (Wit & Grijs)
                              
                               Bamboo shirt 'Golden wings' (Wit & Grijs)
                              
                               Bamboo shirt 'Golden wings' (Wit & Grijs)
                              
                               Bamboo shirt 'Golden wings' (Wit & Grijs)
                              
                               Bamboo shirt 'Golden wings' (Wit & Grijs)
                              
                               Bamboo shirt 'Golden wings' (Wit & Grijs)Bamboo shirt 'Golden wings' (Wit & Grijs)Bamboo shirt 'Golden wings' (Wit & Grijs)Bamboo shirt 'Golden wings' (Wit & Grijs)Bamboo shirt 'Golden wings' (Wit & Grijs)Bamboo shirt 'Golden wings' (Wit & Grijs)Bamboo shirt 'Golden wings' (Wit & Grijs)
                              Het shirt is van pure  zijdezachte bamboestof en is ontworpen in comfortabele fit voor iedere vrouw en elke gelegenheid. Of het nu voor yoga is, voor op het werk of voor een etentje met vrienden.
                              
                               
                              
                              Wit staat voor vrijheid, zuiverheid, positiviteit en lichtheid. 
                              
                              De gouden naad op mouw symboliseert het geloof in jezelf, je wil om te gaan voor je missie…geef jezelf dat gouden randje wat je verdiend!!
                              
                               
                              
                              Grijs staat voor diswcipline en neutraliteit.
                              
                              De gouden naad op mouw symboliseert het geloof in jezelf, je wil om te gaan voor je missie…geef jezelf dat gouden randje wat je verdiend!!
                              
                               
                              
                              LET OP: Deze reservering is een pre-order en dat houdt in dat u het shirt vooraf koopt. De productie zal starten bij tenminste 50 bestellingen in onze fabriek in Portugal. Mocht de productie niet doorgaan, dan krijg je uiteraard je geld teruggestort. We gaan er vanuit dat de 50 orders met veel enthousiasme wordt gehaald en dat we het shirt tussen de 4-6 weken gaan leveren.
                              
                              Bamboo shirt 'Golden wings' (Wit & Grijs)
                              Price€64.00
                              Maat
                              Selecteren
                              
                              Kleur
                              Aantal
                              
                              5
                               TOEVOEGEN AAN WINKELWAGEN
                               
                              PRODUCT INFO
                              
                              RETURN & REFUND POLICY
                              NL
                              
                              Onze intentie is om met SENSE-IT de hoogste kwaliteit te bieden en je verliefd te laten worden op jouw shirt. Als je toch ontevreden bent met je bestelling kun je het product retour zenden en krijg je je geld teruggestort (excl. verzendkosten). Laat ons eerst even weten via de e-mail info@sense-itfashion.com dat je je bestelling retour zend en met reden. We kunnen dan samen kijken naar een oplossing of verzending van een nieuwe maat afstemmen. Wij accepteren geen retourzendingen van beschadigde artikelen die zijn gedragen of waarvan de etiketten zijn verwijderd. Het product dient in originele staat retour verzonden te worden in de originele verpakking binnen 14 dagen. De retourkosten zijn voor je eigen rekening. Voor vragen over ruiling en retour zenden, neem gerust contact op per email: info@sense-itfashion.com.
                              
                              ​
                              
                              Retouradres:
                              
                              SENSE-IT Fashion
                              
                              Reigerstraat 59
                              
                              1171 TP  Badhoevedorp
                              
                              ​​
                              
                              Return & Exchange Policy
                              
                              ​
                              
                              US
                              
                              Our intention is creating products to the highest standard and we hope that you fall in love with your SENSE-IT shirt. If you are unhappy with your purchase for any reason, we will accept returns and issue a full refund to the original form of payment (excluding the shipping cost), so long as the item and all of its packaging are returned completely undamaged. To issue a return we must first be notified via email. Returns MUST be shipped back in the original packaging (including all additional materials), within seven days of product receipt. 
                              
                              Unless otherwise notified, the return shipping cost is the sole responsibility of the customer. Refunds will be made to the original form of payment only, after the product has been received. Please allow 14 business days from the time of receipt, for the item to be processed. If you have any return inquiries, please email info@sense-itfashion.com
                              
                              ​
                              
                              Retouradres:</p>
                            <p>SENSE-IT Fashion</p>
                            <p>Reigerstraat 59</p>
                            <p>1171 TP  Badhoevedorp</p>
                            <p>THE NETHERLANDS</p>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" role="tab" id="headingThree">
                            <h5 class="mb-0">
                              <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                SHOPPING INFO
                              </a>
                            </h5>
                          </div>
                          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                            <p>Verzending</p>
                            <p>Omdat het shirt, in eerste instantie, op basis van pre-order wordt gekocht en bij 50 bestellingen pas in productie gaat, gaan wij het shirt tussen de 6-8 weken leveren. Wij houden u over het productieproces en levering, per 2 weken, op de hoogte middels onze nieuwsbrief: schrijf je daarom in voor de nieuwsbrief!</p>  
                            <p class="heart">Shipping Policy</p>
                            <p>All items are gift wrapped. Please let me know if you are sending it as a gift, a complimentary card can be included. You can send your ‘gift message’ by email info@sense-itfashion.com.</p>
                            <p>We offer the following rates for NL and International shipping, per item.</p>
                            <p>If the product is out of stock it will take 4-8 weeks before we can send your product.</p>
                            <p>- Standard rate NL - &euro; 6,95</p>
                            <p>- Shipping rates EUR/UK - &euro; 10,-</p>
                            <p>- Subsidized standard shipping worldwide - € 18,62 International packages require 7-14 business days. </p>
                            <p>If you require express shipping please email info@sense-itfashion.com. Express shipping rates will be calculated on an individual basis.</p>
                          </div>
                          </div>
                        </div>
                      </div>
            </div>
        </div>
    </div>


    <div class="col-sm-6" style="background-color:red; height:600px;"></div>
</div>


{% include footer.html %}