---
---

{% include header.html %}

<div id="content">
    <div class="container-fluid first-container">
        <div class="col-xs-12 text-left" style="background-color: rgb(250, 237, 237); height:400px;">
            <div class="col-xs-8 heart col-xs-offset-2">
                <h4>SHIPPING & RETURNS</h4>
            </div>
            <div class="col-xs-8 col-xs-offset-2" style="border-bottom:1px solid black;"></div>
            <div class="col-xs-8 heart col-xs-offset-2">
                <h4>Retouren & Ruiling</h4>
            </div>
            <div class="col-xs-8 heart col-xs-offset-2">
                <h4>NL</h4>
                <p>Onze intentie is om met SENSE-IT de hoogste kwaliteit te bieden en je verliefd te laten worden op jouw shirt. Als je toch ontevreden bent met je bestelling kun je het product retour zenden en krijg je je geld teruggestort (excl. verzendkosten). Laat ons eerst even weten via de e-mail info@sense-itfashion.com dat je je bestelling retour zend en met reden. We kunnen dan samen kijken naar een oplossing of verzending van een nieuwe maat afstemmen. Wij accepteren geen retourzendingen van beschadigde artikelen die zijn gedragen of waarvan de etiketten zijn verwijderd. Het product dient in originele staat retour verzonden te worden in de originele verpakking binnen 14 dagen. De retourkosten zijn voor je eigen rekening. Voor vragen over ruiling en retour zenden, neem gerust contact op per email: info@sense-itfashion.com.</p>
            </div>
            <div class="col-xs-8 heart text-left col-xs-offset-2">
                <h4 class="text-decoration:underline;">Return Address:</h4>
                <p>SENSE-IT Fashion</p>
                <p>Reigerstraat 59</p>
                <p>1171 TP Badhoevedorp</p>
            </div>
        </div>
    </div>
</div>







{% include footer.html %}