---
---

{% include header.html %}



<div id="content">
    <div class="container-fluid first-container" style="background-color: rgb(250, 237, 237);">
        <div class="col-xs-12" style="background-color:transparent;">
            <div class="col-xs-8 col-xs-offset-2" style="background-color:transparent;">
                <div style="border-bottom:1px solid black; background-color:transparent;">
                    SHIPPING & RETURNS
                </div>
            </div>
        </div>
    </div>

</div>





{% include footer.html %}