---
---

{% include header.html %}

<div id="content">
    <div class="container-fluid first-container">
        <div class="col-xs-12 text-left" style="background-color: rgb(250, 237, 237);">
            <div class="col-xs-8 heart col-xs-offset-2">
                <h4>SHIPPING & RETURNS</h4>
            </div>
            <div class="col-xs-8 col-xs-offset-2" style="border-bottom:1px solid black;"></div>
            <div class="col-xs-8 heart col-xs-offset-2">
                <h4>Retouren & Ruiling</h4>
            </div>
            <div class="col-xs-8 heart col-xs-offset-2">
                <h4>NL</h4>
                <p>Onze intentie is om met SENSE-IT de hoogste kwaliteit te bieden en je verliefd te laten worden op jouw shirt. Als je toch ontevreden bent met je bestelling kun je het product retour zenden en krijg je je geld teruggestort (excl. verzendkosten). Laat ons eerst even weten via de <span style="text-decoration:underrline;">e-mail</span> info@sense-itfashion.com dat je je bestelling retour zend en met reden. We kunnen dan samen kijken naar een oplossing of verzending van een nieuwe maat afstemmen. Wij accepteren geen retourzendingen van beschadigde artikelen die zijn gedragen of waarvan de etiketten zijn verwijderd. Het product dient in originele staat retour verzonden te worden in de originele verpakking binnen 14 dagen. De retourkosten zijn voor je eigen rekening. Voor vragen over ruiling en retour zenden, neem gerust contact op per email: info@sense-itfashion.com.</p>    
            </div>
            <div class="col-xs-8 heart text-left col-xs-offset-2">
                <p class="text-decoration:underline;">Retouradres::</p>
                <p>SENSE-IT Fashion</p>
                <p>Reigerstraat 59</p>
                <p>1171 TP Badhoevedorp</p>
            </div>
            <div class="col-xs-8 heart col-xs-offset-2">
                <h4>Return & Exchange Policy</h4>
                <p>US</p>
                <p>Our intention is creating products to the highest standard and we hope that you fall in love with your SENSE-IT shirt. If you are unhappy with your purchase for any reason, we will accept returns and issue a full refund to the original form of payment (excluding the shipping cost), so long as the item and all of its packaging are returned completely undamaged. To issue a return we must first be notified via email. Returns MUST be shipped back in the original packaging (including all additional materials), within seven days of product receipt. </p>
                <p>Unless otherwise notified, the return shipping cost is the sole responsibility of the customer. Refunds will be made to the original form of payment only, after the product has been received. Please allow 14 business days from the time of receipt, for the item to be processed. If you have any return inquiries, please email <span style="text-decoration:underrline;">info@sense-itfashion.com</span></p>    
            </div>
            <div class="col-xs-8 heart text-left col-xs-offset-2">
                <p class="text-decoration:underline;">Return Address:</p>
                <p>SENSE-IT Fashion</p>
                <p>Reigerstraat 59</p>
                <p>1171 TP Badhoevedorp</p>
                <p>THE NETHERLANDS</p>
            </div>
            <div class="col-xs-8 heart col-xs-offset-2">
                <h4>Verzending</h4>
                <p>Omdat het shirt, in eerste instantie, op basis van pre-order wordt gekocht en bij 50 bestellingen pas in productie gaat, gaan wij het shirt tussen de 6-8 weken leveren. Wij houden u over het productieproces en levering, per 2 weken op de hoogte middels onze nieuwsbrief: <span style="text-decoration:underline;font-style:italic;">schrijf u hier in!</span></p>
                <h4 class="heart">Shipping Policy</h4>
            </div>
        </div>
    </div>
</div>







{% include footer.html %}