---
---

{% include header.html %}

    <div id="content">
        <div id="goldenwings" class="text-center first-container">
            <h2>Tops 'Golden wings'</h2>
        </div>
        <div class="container-fluid heart">
                <div class="col-md-offset-2 col-md-4" style="background: url(/img/shop/image-1.jpg) center center no-repeat; background-size: cover; height: 352px;"></div>
                <div class="col-md-4 text-center" style="background-color: rgb(250, 237, 237); height: 352px;">
                    <h4 style="font-weight:normal;">This <span style="font-weight:bold">SENSE-IT</span> energy will give you:</h4>
                    <p>…a sense of self love <br>
                            …a sense of peace <br>
                            …a sense of balance <br>
                            …a sense of empowerment <br>
                            …a sense of acceptance <br>
                            …a sense of positivity</p>
            </div>

        </div>

        <div class="container-fluid">
            <div class="col-sm-offset-4 col-sm-4 text-center">
                <button class="btn btn-default" style=""
                    type="submit">Button</button>
            </div>
        </div>

        <div class="col-md-offset-2 col-md-8" style="height:auto;margin-top:20px;">
            <p>
                <span>PLEASE NOTE:</span> This reservation is a pre-order and that means that you purchase the shirt in advance.
                Production will start with at least 50 orders in our factory in Portugal. If the production does not continue,
                you will of course get your money refunded. We assume that the 50 orders will be met with great enthusiasm
                and that we will deliver the shirt between 4-6 weeks.</p>
        </div>
    </div>

    {% include footer.html %}
