---
---

{% include header.html %}

    <div id="content">
        <div id="goldenwings" class="text-center first-container">
            <h2>Tops 'Golden wings'</h2>
        </div>
        <div class="container-fluid heart">
                <div class="col-md-offset-2 col-md-4" style="background: url(/img/shop/image-1.jpg) center center no-repeat; background-size: cover; height: 352px;"></div>
                <div class="col-md-4 text-center" style="background-color: rgb(250, 237, 237); height: 352px;">
                    <h4 style="font-weight:normal;">This <span style="font-weight:bold">SENSE-IT</span> energy will give you:</h4>
                    <p>…a sense of self love <br>
                            …a sense of peace <br>
                            …a sense of balance <br>
                            …a sense of empowerment <br>
                            …a sense of acceptance <br>
                            …a sense of positivity</p>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <a href="" style="text-decoration:none; color:black;">Bamboo shirt 'Golden Wings' (Wit and Grijs)</a> <br>
                &euro; 64.00
            </div>
        </div>

        <div class="container-fluid" style="margin-top:80px;">
            <div class="col-sm-offset-4 col-sm-4 text-center">
                <button class="btn button-shop" type="">Bestel Nu</button>
            </div>
        </div>

        <div class="container-fluid">
        <div class="col-md-offset-2 col-md-8" style="margin-top:30px;">
            <p>
                <span>LET OP:</span> Deze reservering is een pre-order en dat houdt in dat je het shirt vooraf koopt. De productie zal starten bij tenminste 50 bestellingen in onze fabriek in Portugal. Mocht de productie niet doorgaan, dan krijg je uiteraard je geld teruggestort. We gaan er vanuit dat de 50 orders met veel enthousiasme wordt gehaald en dat we het shirt tussen de 4-6 weken gaan leveren.</p>
        </div>
    </div>
    </div>

    {% include footer.html %}
