---
---

{% include header.html %}

<div id="content">
    <div class="container-fluid first-container">
        <div class="col-xs-12 text-left" style="background-color: rgb(250, 237, 237);">
            <div class="col-xs-8 heart col-xs-offset-2">
                <h4>STORE POLICY</h4>
            </div>
            <div class="col-xs-8 col-xs-offset-2" style="border-bottom:1px solid black;"></div>
            <div class="col-xs-8 heart col-xs-offset-2">
                <h4>Klantenservice</h4>
                <p>SENSE-IT verkoopt bamboo producten met healing energie en garandeert pure en liefdevolle intenties. Haar missie is om de wereld een stukje mooier te maken en positiviteit te brengen in ieders leven. De producten zijn verkrijgbaar via <span style="text-decoration:underline;">www.sense-itfashion.com</span>, Wij garanderen onvoorwaardelijk dat ieder artikel dat wij verkopen 100% authentiek is.</p>
                <p>Wij gebruiken bamboe stoffen en proberen zo veel mogelijk duurzame productie te hanteren. Bij SENSE-IT geven wij om duurzaamheid, vakmanschap, kwaliteit, stijl en service. Mocht je niet tevreden zijn met je aankoop of vragen hebben, staan wij altijd klaar om je te helpen. Stuur ons dan een e-mail via <span style="text-decoration:underline;">info@sense-itfashion.com</span></p>
                <h4 class="heart">Privacy & Veiligheid</h4>
                <p>SENSE-IT Fashion</p>
                <p>Telefoon: +31 (0)6 425 82 415</p>
                <p>Email: <span style="text-decoration:underline;">info@sense-itfashion.com </p>
            </div>
            <div class="col-xs-8 heart col-xs-offset-2">
                <p>Handelsregister: Kamer van Koophandel Hoofddorp </p>
                <p>Registratienummer: 55340873 </p>
                <p>BTW-nummer: NL146730070B01 </p>
            </div>
            <div class="col-xs-8 heart col-xs-offset-2">
                <p>SENSE-IT respecteert de privacyrechten van haar online-bezoekers en erkent het belang van het beschermen van de gegevens die zij over hen verzamelt. In het bedrijf geldt een privacybeleid voor de verzameling, de opslag en het gebruik van de gegevens die je ons verstrekt.</p>
            </div>
            <div class="col-xs-8 heart col-xs-offset-2">
                <p>iDeal payment (only in Facebook Store) - PAYPAL - Offline Payments</p>
            </div>
        </div>
    </div>
</div>









{% include footer.html %}