<div class="container-fluid footer" style="margin-top:100px;">
        <div class="row">
          <div class="col-lg-1"></div>  
          <div class="col-lg-4 col-md-5 text-right">
            newsletter
          </div>
          <div class="col-lg-2 col-md-2 text-center heart"><div id="seperator"></div></div>
          <div class="col-lg-4 col-md-5 text-left">
              <div class="row">
                <div class="col-xs-4">Stocklist<br />About<br />Contact</div>
                <div class="col-xs-4">Stocklist<br />About<br />Contact</div>
                <div class="col-xs-4">Stocklist<br />About<br />Contact</div>
              </div>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>

</html>