<nav class="navbar navbar-fixed-top">
    <div id="shipping" class="text-center">
        Shipping all over the world
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 text-right">
                <a class="navbar-brand" href="/" style="float: none;">
                    <img src="/img/logo.png" alt="SENSE-IT by Claudia Robert" style="display: inline-block;" />
                </a>
            </div>
            <div class="col-xs-6">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="../index.html">Home</a>
                        </li>
                        <li>
                            <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                About
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>
                                    <a href="#">Claudia Robert</a>
                                </li>
                                <li>
                                    <a href="#">SENSE-IT</a>
                                </li>
                                <li>
                                    <a href="#">Bamboo</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="shop">Shop</a>
                        </li>
                        <li>
                            <a href="contact">Contact</a>
                        </li>
                        <li>
                            <a href="faq">FAQ</a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->

            </div>
        </div>
    </div>
</nav>